In [206]:
import pandas as pd

In [207]:
iran = pd.read_csv('dataset/FAO_STAT_iran_crops_livestock_products.csv')

In [208]:
iran = iran.drop(['Domain Code' , 'Domain' , 'Area Code' , 'Area' , 'Element Code' , 'Item Code' , 'Year Code'
               , 'Flag' , 'Flag Description'] , axis = 1)

In [209]:
iran_export_quantity = iran[iran['Element'] == 'Export Quantity']
iran_export_value = iran[iran['Element'] == 'Export Value']
iran_import_quantity = iran[iran['Element'] == 'Import Value']
iran_import_value = iran[iran['Element'] == 'Import Quantity']

In [210]:
iran_export_value_counts_item = iran_export_value['Item'].value_counts().to_frame()

In [211]:
iran_export_value_counts_item.reset_index(inplace=True)

In [212]:
iran_export_value_counts_item = iran_export_value_counts_item[iran_export_value_counts_item['Item'] >= 10]

In [213]:
for row, col in iran_export_value.iterrows():
    if col['Item'] not in list(iran_export_value_counts_item['index']):
        iran_export_value.drop(row, axis= 0, inplace= True)
iran_export_value.reset_index(inplace=True)

In [214]:
del iran_export_value['index']

In [216]:
iran_export_value.dropna()

            Element                          Item  Year      Unit     Value
42     Export Value      Alfalfa meal and pellets  2003  1000 US$     173.0
43     Export Value      Alfalfa meal and pellets  2004  1000 US$       4.0
44     Export Value      Alfalfa meal and pellets  2005  1000 US$     537.0
45     Export Value      Alfalfa meal and pellets  2006  1000 US$    1275.0
46     Export Value      Alfalfa meal and pellets  2007  1000 US$    2224.0
47     Export Value      Alfalfa meal and pellets  2008  1000 US$    2056.0
48     Export Value      Alfalfa meal and pellets  2009  1000 US$    2056.0
49     Export Value      Alfalfa meal and pellets  2010  1000 US$      58.0
50     Export Value      Alfalfa meal and pellets  2011  1000 US$      31.0
51     Export Value      Alfalfa meal and pellets  2012  1000 US$      31.0
52     Export Value      Alfalfa meal and pellets  2013  1000 US$     481.0
53     Export Value      Alfalfa meal and pellets  2014  1000 US$    4369.0
54     Export Value      Alfalfa meal and pellets  2015  1000 US$     610.0
55     Export Value      Alfalfa meal and pellets  2016  1000 US$    2813.0
56     Export Value      Alfalfa meal and pellets  2017  1000 US$    8218.0
93     Export Value               Almonds shelled  1997  1000 US$    6329.0
94     Export Value               Almonds shelled  1998  1000 US$    6852.0
95     Export Value               Almonds shelled  1999  1000 US$    7147.0
96     Export Value               Almonds shelled  2000  1000 US$    6595.0
97     Export Value               Almonds shelled  2001  1000 US$   10787.0
98     Export Value               Almonds shelled  2002  1000 US$   37626.0
99     Export Value               Almonds shelled  2003  1000 US$    6213.0
100    Export Value               Almonds shelled  2004  1000 US$    4185.0
101    Export Value               Almonds shelled  2005  1000 US$    1963.0
102    Export Value               Almonds shelled  2006  1000 US$    5347.0
103    Export Value               Almonds shelled  2007  1000 US$    8596.0
104    Export Value               Almonds shelled  2008  1000 US$    7102.0
105    Export Value               Almonds shelled  2009  1000 US$   10202.0
106    Export Value               Almonds shelled  2010  1000 US$   13283.0
107    Export Value               Almonds shelled  2011  1000 US$   18786.0
...             ...                           ...   ...       ...       ...
15845  Export Value              Wool, hair waste  2008  1000 US$     264.0
15846  Export Value              Wool, hair waste  2009  1000 US$     264.0
15847  Export Value              Wool, hair waste  2010  1000 US$      10.0
15848  Export Value              Wool, hair waste  2011  1000 US$       0.0
15849  Export Value              Wool, hair waste  2012  1000 US$      15.0
15850  Export Value              Wool, hair waste  2013  1000 US$      79.0
15851  Export Value              Wool, hair waste  2014  1000 US$     235.0
15852  Export Value              Wool, hair waste  2015  1000 US$     123.0
15853  Export Value              Wool, hair waste  2016  1000 US$     396.0
15854  Export Value              Wool, hair waste  2017  1000 US$     403.0
15892  Export Value  Yoghurt, concentrated or not  1998  1000 US$       1.0
15893  Export Value  Yoghurt, concentrated or not  1999  1000 US$       0.0
15894  Export Value  Yoghurt, concentrated or not  2000  1000 US$       1.0
15895  Export Value  Yoghurt, concentrated or not  2001  1000 US$       1.0
15896  Export Value  Yoghurt, concentrated or not  2002  1000 US$       5.0
15897  Export Value  Yoghurt, concentrated or not  2003  1000 US$      71.0
15898  Export Value  Yoghurt, concentrated or not  2004  1000 US$      95.0
15899  Export Value  Yoghurt, concentrated or not  2005  1000 US$     781.0
15900  Export Value  Yoghurt, concentrated or not  2006  1000 US$    8075.0
15901  Export Value  Yoghurt, concentrated or not  2007  1000 US$   28590.0
15902  Export Value  Yoghurt, concentrated or not  2008  1000 US$   51433.0
15903  Export Value  Yoghurt, concentrated or not  2009  1000 US$   51433.0
15904  Export Value  Yoghurt, concentrated or not  2010  1000 US$   88352.0
15905  Export Value  Yoghurt, concentrated or not  2011  1000 US$  107521.0
15906  Export Value  Yoghurt, concentrated or not  2012  1000 US$  140240.0
15907  Export Value  Yoghurt, concentrated or not  2013  1000 US$  205982.0
15908  Export Value  Yoghurt, concentrated or not  2014  1000 US$  161413.0
15909  Export Value  Yoghurt, concentrated or not  2015  1000 US$       3.0
15910  Export Value  Yoghurt, concentrated or not  2016  1000 US$  146542.0
15911  Export Value  Yoghurt, concentrated or not  2017  1000 US$  122686.0

[10048 rows x 5 columns]